<main>
    <div class="wrapper ">
        <div class="bg-one"></div>

        <div class="bg-content">
            <div class="bg-content_header ">
                <h1>ip address tracker</h1>
            </div> 
            <div class="bg-content_search ">
                <div class="search">
                    <div class="search_input">
                        <input type="text" class="form-control" placeholder="enter IP" aria-label="search" >
                    </div>
                    <button class=" button btn-dark" (click)="getIP()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                    </button>
                </div>
            </div> 
            <div class="bg-content_display  p-3" *ngIf="showDisplay">
                <div class="container">
                    <p>IP ADDRESSS</p>
                    <span>{{ipData.ip}}</span>
                </div>
                <div class="container">
                    <p>LOCATION</p>
                    <span>{{ipData.location.region}}, {{ipData.location.country}}</span>
                </div>
                <div class="container">
                    <p>TIMEZONE</p>
                    <span>UTC{{ipData.location.timezone}}</span>
                </div>
                <div>
                    <p>ISP</p>
                    <span>{{ipData.isp}}</span>
                </div>
            </div>  
        </div>

        <div id="map">
            <app-map
             id='main-map'  
            ></app-map>            
        </div>
    </div>
</main>